# Default ignored files

/llama2-7b-hf
/submit
/papers
/.idea
/PPT

/celebrity/data/
/idiom/data
download.sh
downloadllama.sh
embedding.py
train.csv
test.csv
CMeEE-V2.zip
episode-data.zip
data.zip


/shelf/
/workspace.xml
